{% extends 'layout/base.html' %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">

  <!-- body  -->
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel tile fixed_height_320">
        <div class="x_title">
          <h2>Halo World!</h2>
          <!-- <ul class="nav navbar-right panel_toolbox"><a href="#"  data-toggle="modal" data-target="#tambahTP" class="btn btn-success"><i class="fa fa-plus"></i> Tambah Tindak Pidana</a></ul> -->
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          
                    
        </div>
      </div>
    </div>
  </div>
  <!-- /body  -->

</div>

<!-- /page content -->
{% endblock content %}